.df {
    display: flex;
}

.pr6 {
    padding-right: 6px;
}

.pl6 {
    padding-left: 6px;
}

.counter-value {
    padding: 3px;
}

.menu-item {
    display: flex;
}

.menu-item__label {
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.navigation {
    display: flex;
}

.navigation-item {
    padding-right: 5px;
}

.form__label {
    width: 200px;
}

.progress-bar {
    height: 10px;
    background-color: red;
    position: fixed;
    top: 0;
}